{% extends "resume/layout.html" %}
{% block title %}
New Resume page
{% endblock %}

{% block header %}
New Resume page
{% endblock %}

{% block content %}
   {% if user.is_authenticated %}
        <form action="/resume/new" method="post">
            {% csrf_token %}
            <input name="author" value="{{ user.username }}" readonly="True">
            <input name="description">
            <input type="submit" value="Save">
        </form>
    {% else %}
        <p>User should be login.</p>
    {% endif %}
{% endblock %}